<section 
    id="versus"
    class="fixed bottom-10 lg:bottom-auto lg:top-2 xl:top-3 2xl:top-3 z-[0] 
        opacity-0 w-full gap-y-3 transition-opacity animate-delay-500 flex flex-col justify-center items-center">
        <div class="w-full md:w-[30vh] bg-white text-center py-3 rounded-sm drop-shadow-md">
            <h2 class="text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-boxing inline-block text-black">
                
            </h2>
        </div>
    <h1 
        class="text-6xl lg:text-7xl xl:text-7xl 2xl:text-7xl  font-boxing inline-block bg-clip-text text-transparent bg-gradient-to-r from-yellow-600 to-red-600 leading-relaxed
        drop-shadow-[0_0_5px_rgba(242,150,39,.6)]">
        VS
    </h1>
    <div class="w-full md:w-[30vh] bg-black text-center py-3 rounded-sm drop-shadow-md">
        <h2 class="text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-boxing inline-block text-white">
            
        </h2>
    </div>
</section>